.gradle/
.gradle-home/
build/
out/

.idea/
*.iml
.vscode/

.DS_Store

.env
.env.*
!.env.example

src/main/resources/application-local.yml
src/main/resources/application-local.yaml
src/main/resources/application-local.properties
src/test/resources/application-test-local.yml
src/test/resources/application-test-local.yaml
src/test/resources/application-test-local.properties

*.log
